{% load i18n thumbnail sekizai_tags %}

<div id="gallerij">
	{% for image in images %}
	<div class="gallerij-item">
		<a href="img/{{image.pk}}">
			{% if image.image.width >= image.image.height%}
				<img src="{% thumbnail image.image 180x120 crop="True" upscale="True" %}" alt="{{ image.label }}">
			{% else %}
				<img src="{% thumbnail image.image 120x180 crop="True" upscale="True" %}" alt="{{ image.label }}">
			{% endif %}
		</a>
	</div>
	{% endfor %}
</div>

{% addtoblock "js" %}<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}bower_components/isotope/dist/isotope.pkgd.js"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}bower_components/imagesloaded/imagesloaded.pkgd.js"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}<script>
	$(document).ready(function(){

		var $container = $('#gallerij').imagesLoaded( function() {
			$container.isotope({
				
				// options
				itemSelector: '.gallerij-item',
				layoutMode: 'fitRows'

			});
		});
	});
</script>{% endaddtoblock "js" %}
