{% extends CMS_TEMPLATE %}
{% load cms_tags menu_tags sekizai_tags thumbnail%}

{% block content %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/object-fit/dist/polyfill.object-fit.css"/>{% endaddtoblock "css" %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/slick.js/slick/slick.css"/>{% endaddtoblock "css" %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}bower_components/slick.js/slick/slick.js"></script>{% endaddtoblock "js" %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}bower_components/object-fit/dist/polyfill.object-fit.js"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}<script type="text/javascript">

	objectFit.polyfill({
		selector: '.landscape', // this can be any CSS selector
		fittype: 'cover' // either contain, cover, fill or none

	});
</script>{% endaddtoblock "js" %}

{% addtoblock "js" %}<script type="text/javascript">
	$(document).ready(function(){
		$('.image-slider').slick({
			initialSlide : {{start_slide}}
		});
	});
</script>{% endaddtoblock "js" %}

<div class="image-slider full-height">
	{% for image in image_list %}
	<div class="single-image">
		{% if image.image.width >= image.image.height%}
		<div class="a-slide" style="background: url('{% thumbnail image.image 2560x1706 crop="True" upscale="True" %}') no-repeat center center"></div>
		{% else %}
		<img src="{% thumbnail image.image 1706x2560 crop="True" upscale="True" %}" class="portrait">
		{% endif %}
	</div>
	{% endfor %}
</div>

{% endblock %}
